<div class="card card-body p-4 rounded-0 bg-dark text-white">
    <h1>Subject</h1>
    <form action="/subject/add" method="POST">

<div>
    <label for="name">
        Name: 
    </label>
    <input type="text" name="name" placeholder="Name" id="name" class="form-control bg-dark text-white"/>
</div>
<div>
    <label for="credits">
        Credits:  
    </label>
    <textarea name="credits" cols="25" rows="5" placeholder="Credits" class="form-control bg-dark text-white"></textarea>
</div>
<div>
    <label for="hours">
        Hours: 
    </label>
    <input type="text" name="hours" placeholder="Hours" id="hours" class="form-control bg-dark text-white"/>
</div>
<button class="btn btn-success btn-sm mt-2">Add</button>
</form>
</div>