<div class="container">
    <div class="row">
        <div class="col-md-5">
            {{> student/studentForm}}
        </div>
        <div class="col-md-7">
            {{> student/studentTable}}
        </div>
    </div>
</div>


