<div class="container">
    <div class="row">
        <div class="col-md-5">
            {{> subject/subjectForm}}
        </div>
        <div class="col-md-7">  
        {{> subject/subjectTable}}
        </div>
    </div>
</div>