<nav class="navar navar-dark bg-dark mb-4">
    <div class="container">
        <a href="/" class="navbar-brand">Home My frst app wth MongoDB</a>
        <a href="/subject" class="navbar-brand">Subject page</a>
        <a href="/student" class="navbar-brand">Student page</a>
        <a href="/teacher" class="navbar-brand">Teacher page</a>
    </div>
</nav>