<form action="/productos/agregar" method="POST">
<div>
    <label for="nombre">
        Nombre: 
    </label>
    <input type="text" name="nombre" placeholder="Name" id="nombre">
</div>
<div>
    <label for="descripcion">
        Descripción:  
    </label>
    <textarea name="descripcion" cols="25" rows="5" placeholder="Description"></textarea>
</div>
<div>
    <label for="precio">
        Precio: 
    </label>
    <input type="text" name="precio" placeholder="Price" id="precio">
</div>
<button>Add</button>
</form>